/* display */
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.inline{
	display: inline;
}
.flex{
	display: flex;
}
.grid{
	display: grid;
}

/* flex */
.flex-1{
	flex: 1 1 0%;
}
.flex-auto{
	flex: 1 1 auto;
}
.flex-initial{
	flex: 0 1 auto;
}
.shrink{
	flex-shrink: 1;
}
.shrink-0{
	flex-shrink: 0;
}
.grow{
	flex-grow: 1;
}
.grow-0{
	flex-grow: 0;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-wrap-reverse{
	flex-wrap: wrap-reverse;
}
.flex-wrap-nowrap{
	flex-wrap: nowrap;
}
.flex-row{
	flex-direction: row;
}
.flex-row-reverse{
	flex-direction: row-reverse;
}
.flex-col{
	flex-direction: column;
}
.flex-row-reverse{
	flex-direction: column-reverse;
}

.justify-start{
	justify-content: flex-start;
}
.justify-end{
	justify-content: flex-end;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-around{
	justify-content: space-around;
}
.justify-evenly{
	justify-content: space-evenly;
}
.justify-items-start{
	justify-items: flex-start;
}
.justify-items-end{
	justify-items: flex-end;
}
.justify-items-center{
	justify-items: center;
}
.justify-items-stretch{
	justify-items: stretch;
}
.justify-self-auto{
	justify-self: auto;
}
.justify-self-start{
	justify-self: start;
}
.justify-self-end{
	justify-self: end;
}
.justify-self-center{
	justify-self: center;
}
.justify-self-stretch{
	justify-self: stretch;
}

.content-center{
	align-content: center;
}
.content-start{
	align-content: flex-start;
}
.content-end{
	align-content: flex-end;
}
.content-between{
	align-content: space-between;
}
.content-around{
	align-content: space-around;
}
.content-evenly{
	align-content: space-evenly;
}
.content-baseline{
	align-content: baseline;
}

.items-start{
	align-items: flex-start;
}
.items-end{
	align-items: flex-end;
}
.items-center{
	align-items: center;
}
.items-baseline{
	align-items: baseline;
}
.items-stretch{
	align-items: stretch;
}

.justify-self-auto{
	justify-self: auto;
}
.justify-self-start{
	justify-self: start;
}
.justify-self-end{
	justify-self: end;
}
.justify-self-center{
	justify-self: center;
}
.justify-self-stretch{
	justify-self: stretch;
}
.p-30{
	padding: 30rpx;
}
.pl-30{
	padding-left: 30rpx;
}
.pr-30{
	padding-right: 30rpx;
}
.mr-20{
	margin-right: 20rpx;
}
.mx-auto{
	margin: 0 auto;
}
.mx-30{
	margin: 0 30rpx;
}
.mx-10{
	margin: 0 10rpx;
}
.my-15{
	margin: 15rpx 0;
}
.my-30{
	margin: 30rpx 0;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.w-full{
	width: 100%;
}
.h-full{
	height: 100%;
}
.z-999{
	z-index: 999;
}
.transition{
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}
.text-white{
	color: #FFF;
}
.text-gray{
	color: #999;
}